Source: wp360-fan-ctrl
Section: misc
Priority: optional
Maintainer: Overdigit <info@overdigit.com>
Build-Depends: debhelper-compat (= 13), libgpiod-dev
Standards-Version: 4.5.1
#Homepage: <insert the upstream URL, if relevant>
Rules-Requires-Root: no
#Vcs-Git: https://salsa.debian.org/debian/wp360-packages.git
#Vcs-Browser: https://salsa.debian.org/debian/wp360-packages

Package: wp360-fan-ctrl
Architecture: any
Maintainer: Overdigit <info@overdigit.com>
Depends: ${shlibs:Depends}, ${misc:Depends}, systemd, gpiod
Description: Fan control daemon for the WP360 PLC.
